
    <!--==========================
    Recently Listed Items Section
    ============================-->
    <section id="recent-items">
        <div class="container">
            <div class="section-header">
                <h3>Recently Listed</h3>
                <p>Items recently listed near you.</p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
                    <div class="box">
                        <!--insert link to item in href-->
                        {{recent1}}
                        <ul>
                            <li><h4 class="title"><a href="#">{{this.itemName}}</a></h4></li><!--insert link to item in href-->
                            <li>{{ this.lenderName }} </li>
                            <li><input type="submit" value="borrow-button"></li>
                        </ul>
                       
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
                    <div class="box">
                       <!--insert link to item in href-->
                        {{recent2}}
                        <ul>
                            <li><h4 class="title"><a href="#">{{this.itemName}}</a></h4></li><!--insert link to item in href-->
                            <li>{{ this.lenderName }} </li>
                            <li><input type="submit" value="borrow-button"></li>
                        </ul>
                       
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
                    <div class="box">
                        <div class="icon"><a href="#"><i class="fa fa-desktop"></i></a></div><!--insert link to item in href-->
                        {{recent3}}
                        <ul>
                            <li><h4 class="title"><a href="#">{{this.itemName}}</a></h4></li><!--insert link to item in href-->
                            <li>{{ this.lenderName }} </li>
                            <li><input type="submit" value="borrow-button"></li>
                        </ul>
                       
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
                    <div class="box">
                        <!--insert link to item in href-->
                        {{recent4}}
                        <ul>
                            <li><h4 class="title"><a href="#">{{this.itemName}}</a></h4></li><!--insert link to item in href-->
                            <li>{{ this.lenderName }} </li>
                            <li><input type="submit" value="borrow-button"></li>
                        </ul>
                       
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
                    <div class="box">
                        <!--insert link to item in href-->
                        {{recent5}}
                        <ul>
                            <li><h4 class="title"><a href="#">{{this.itemName}}</a></h4></li><!--insert link to item in href-->
                            <li>{{ this.lenderName }} </li>
                            <li><input type="submit" value="borrow-button"></li>
                        </ul>
                       
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
                    <div class="box">
                        <!--insert link to item in href-->
                        {{recent6}}
                        <ul>
                            <li><h4 class="title"><a href="#">{{this.itemName}}</a></h4></li><!--insert link to item in href-->
                            <li>{{ this.lenderName }} </li>
                            <li><input type="submit" value="borrow-button"></li>
                        </ul>
                       
                    </div>
                </div>
            
            </div>

        </div>
    </section><!-- /recent-items -->