<!--

name
email
zip code
change passowrd option
notifications
    request to borrow an item
    past due (lender or borrower)
items member has listed
items currently lent out
items past due
items member requested to borrow
items currently being borrowed
items past due to return
items member has borrowed in the past
-->

<div class="row">
    <!--spacer-->
    <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
    <!--user welcome div-->
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 container" id="myProfile">
        <h3 id="user-name" class="centered">Welcome back {{userAndInfo.user.firstName}}!<br></h3>
        <hr>
        <!--user email-->
        <p class="borrow-decl">
            <span class="secondary-color ">Your Email:</span>
            {{userAndInfo.user.email}}
        </p>
        <!--user rating-->
        <p class="borrow-decl">
            <span class="secondary-color ">Your User Rating:</span>
            {{userAndInfo.user.rating}}
        </p>
        <!--user zip code-->
        <p class="borrow-decl">
            <span class="secondary-color ">Your Zipcode:</span>
            {{userAndInfo.user.zipCode}}
        </p>
        <!--user join date-->
        <p class="borrow-decl">
            <span class="secondary-color" id="join-date" >JoinDate:</span>
            {{dateFormat now "dddd, MMMM Do YYYY"}}
        </p>

    </div><!--end user welcome div-->
    <!--spacer-->
    <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
    <!--user clickable options for items-->
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 container" id="myProfile" style="background:white;">
        <h3 class="centered">My Items</h3>
        <hr>
        <!--pending approval-->
        <a class="div-clickable centered" id="pend-app" href="#">
            Pending Approval
            <!--notification badge-->
            <span class="badge label label-default">{{pendItCount}}</span><!--notification badge-->
        </a>
        <br>
        <div id="close-pend-btn"></div>
        <!--approved-->
        <a class="div-clickable centered" id="approved" href="#">Approved</a>
        <br>
        <div id="close-appr-btn"></div>
        <!--items on lend-->
        <a class="div-clickable centered" id="on-lend-btn" href="#">
            On Lend
            <!--notification badge-->
            <span class="badge label label-default" >{{lendItCount}}</span><!--notification badge-->
        </a>
        <br>
        <div id="close-lend-btn"></div>
        <!--returned-->
        <a class="div-clickable centered" id="returned" href="#">Returned</a>
        <br>
        <div id="close-ret-btn"></div>
        <!--all items-->
        <a class="div-clickable centered" id="all-it" href="#">All Items</a>
        <br>
        <div id="close-all-btn"></div>
    </div>
    <!--spacer-->
    <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
</div>

<!--pending approval div-->
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 main-item-cont" id="pend-app-div">
        <div class="row">
            <!--close pending approval div-->
            <div class="col-lg-1 col-md-1 col-sm-3 col-xs-3">
                <button class="close"><a class="pend-app-close" href="">X</a></button>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-6 col-xs-6">
                <h4 class="centered">Your Items Pending Approval</h4>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-3 col-xs-3"></div>
        </div>
        <div class="row">
            <!--for user with items-->
            {{#each userAndInfo.items}}
                <!--if borrowed status is pending approval-->
                {{#ifEqual borrowedStatus -1}}
                        <!--main item container-->
                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 container item-cont">
                            <!--item name-->
                            <div class="row">
                                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 ">
                                    <p class="item-name">{{name}}</p>
                                    <hr>
                                    <!--subrow-->
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                            <!--item description-->
                                            <p class="item-descr centered">About This Item:
                                               <br>
                                               <span class="reset-color">{{description}}</span>
                                            </p>
                                            <!--replacement value-->
                                            <p class="item-descr centered">Replacement Value:
                                               <br>
                                               <span class="reset-color">${{value}} USD</span>
                                            </p>
                                            <!--category-->
                                            <p class="item-descr centered">Category:
                                               <br>
                                               <span class="reset-color">{{categoryname}}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!--spacer-->
                                <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0 "></div>
                                <!--if item has photo, display-->
                                {{#if picture}}
                                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 ">
                                        <img class="item-photo come-in" src='{{picture}}'>
                                        <!--update item-->
                                        <div class="row">
                                            <button class="removeItem" id = '{{id}}'><a href="/updateIt">Update Item</a></button>
                                        </div>
                                        <!--remove item-->
                                        <div class="row">
                                            <button class="removeItem" id = '{{id}}'><a href="/disableBorrowing?id={{id}}">Remove Item</a></button>
                                        </div>
                                    </div>
                                {{/if}}
                            </div>
                            <!--borrowed information-->
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">

                                    {{#if borrowedItemsId}} <!-- only display if the item has been borrowed before-->
                                        <hr>
                                        <!--status-->
                                        <p class="item-descr">Status:
                                            <span class="reset-color">{{ borrowedStatusText}}</span>
                                        </p>
                                    
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                           <!-- These class names are used in the javascript, please do not change them-->
                                                <a class="borrowCompl centered" id = '' href="#">Mark Borrowed</a>
                                                <a class="cancelReq centered" id = '' href="#">Cancel Request</a>
                                            </div>
                                        </div>
                                        <hr>
                                       <!-- Pending Approval is -1 -->

                                        {{#ifEqual borrowedStatus -1}}
                                        <div class="row">
                                           <!-- These class names are used in the javascript, please do not change them-->

                                            <button class="approveBorrowRequest" id = '{{borrowedItemsId}},{{id}}'><a href="#">Approve Request</a></button>
                                            <button class="denyBorrowRequest" id = '{{borrowedItemsId}},{{id}}' ><a href="#">Deny Request</a></button>
                                        </div>
                                        {{/ifEqual}}
                                        <!--borrower-->
                                        <p class=" item-descr borrow-decl">
                                            <span>Borrower:</span>
                                            <span class="reset-color">{{ borrowerFirstName}}</span>
                                        </p>
                                        <!--borrowed on-->
                                        <p class=" item-descr borrow-decl">
                                            <span>Borrowed On:</span>
                                            <span class="reset-color">{{dateFormat borrowDate "dddd, MMMM Do YYYY"}}</span>
                                        </p>
                                        <!--due date-->
                                        <p class=" item-descr borrow-decl">
                                            <span>Due By:</span>
                                            <span class="reset-color">{{dateFormat dueDate "dddd, MMMM Do YYYY"}}</span>
                                        </p>
                                   {{/if}}
                                </div>
                            </div>
                        </div><!--end main item div-->
                {{/ifEqual}}
            {{/each}}
         </div>
    </div>
</div><!--end pending approval div-->

<!--approved items div-->
<div class="row">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 main-item-cont " id="approved-div">
         <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-3 col-xs-3">
                <button class="close"><a id="all-it-close" href="">X</a></button>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-6 col-xs-6">
                <h4 class="centered">All Your Listed Items</h4>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-3 col-xs-3"></div>
        </div>
        <div class="row">
            <!--for each user with items-->
            {{#each userAndInfo.items}}
                <!--main item div-->
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 container item-cont">
                    <!--item name-->
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 ">
                            <p class="item-name">{{name}}</p>
                            <hr>
                            <!--subrow-->
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                    <!--item description-->
                                    <p class="item-descr centered">About This Item:
                                       <br>
                                       <span class="reset-color">{{description}}</span>
                                    </p>
                                    <!--item replacement value-->
                                    <p class="item-descr centered">Replacement Value:
                                       <br>
                                       <span class="reset-color">${{value}} USD</span>
                                    </p>
                                    <!--item category-->
                                    <p class="item-descr centered">Category:
                                       <br>
                                       <span class="reset-color">{{categoryname}}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--spacer-->
                        <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0 "></div>
                        <!--if item has photo, display-->
                        {{#if picture}}
                            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 ">
                                <img class="item-photo" src='{{picture}}'>
                                <!--update item-->
                                <div class="row">
                                    <button class="removeItem" id = '{{id}}'><a href="/updateIt">Update Item</a></button>
                                </div>
                                <!--remove item-->
                                <div class="row">
                                    <button class="removeItem" id = '{{id}}'><a href="/disableBorrowing?id={{id}}">Remove Item</a></button>
                                </div>
                            </div>
                        {{/if}}
                    </div>
                    <!--borrowed information-->
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">

                            {{#if borrowedItemsId}} <!-- only display if the item has been borrowed before-->
                                <hr>
                                <!--status-->
                                <p class="item-descr">Status:
                                    <span class="reset-color">{{ borrowedStatusText}}</span>
                                </p>

                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                   <!-- These class names are used in the javascript, please do not change them-->
                                        <a class="borrowCompl centered" id = '' href="#">Mark Borrowed</a>
                                        <a class="cancelReq centered" id = '' href="#">Cancel Request</a>
                                    </div>
                                </div>
                                <hr>
                               <!-- Pending Approval is -1 -->

                                {{#ifEqual borrowedStatus -1}}
                                <div class="row">
                                   <!-- These class names are used in the javascript, please do not change them-->
                                    <button class="approveBorrowRequest" id = '{{borrowedItemsId}},{{id}}'><a href="#">Approve Request</a></button>
                                    <button class="denyBorrowRequest" id = '{{borrowedItemsId}},{{id}}' ><a href="#">Deny Request</a></button>
                                </div>
                                {{/ifEqual}}
                                <!--borrower-->
                                <p class=" item-descr borrow-decl">
                                    <span>Borrower:</span>
                                    <span class="reset-color">{{ borrowerFirstName}}</span>
                                </p>
                                <!--borrowed on date-->
                                <p class=" item-descr borrow-decl">
                                    <span>Borrowed On:</span>
                                    <span class="reset-color">{{dateFormat borrowDate "dddd, MMMM Do YYYY"}}</span>
                                </p>
                                <!--due date-->
                                <p class=" item-descr borrow-decl">
                                    <span>Due By:</span>
                                    <span class="reset-color">{{dateFormat dueDate "dddd, MMMM Do YYYY"}}</span>
                                </p>
                           {{/if}}
                        </div>
                    </div>
                </div><!--end main item div-->
            {{/each}}
        </div>
    </div>
</div><!--end all items div-->

<!--item on lend div-->
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 main-item-cont" id="on-lend-div">
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-3 col-xs-3">
                <button class="close"><a id="on-lend-close" href="">X</a></button>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-6 col-xs-6">
                <h4 class="centered">Your Items Currently on Lend</h4>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-3 col-xs-3"></div>
        </div>
        <!--if item currently on loan-->
        <div class="row">
            {{#each userAndInfo.items}}
                {{#ifEqual borrowedStatus 1}}
                    <!--main item div-->
                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 container item-cont">
                        <!--item name-->
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 ">
                                <p class="item-name">{{name}}</p>
                                <hr>
                                <!--subrow-->
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                        <!--item description-->
                                        <p class="item-descr centered">About This Item:
                                           <br>
                                           <span class="reset-color">{{description}}</span>
                                        </p>
                                        <!--item replacement value-->
                                        <p class="item-descr centered">Replacement Value:
                                           <br>
                                           <span class="reset-color">${{value}} USD</span>
                                        </p>
                                        <!--item category-->
                                        <p class="item-descr centered">Category:
                                           <br>
                                           <span class="reset-color">{{categoryname}}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--spacer-->
                            <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0 "></div>
                            <!--if item has photo, display-->
                            {{#if picture}}
                                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 ">
                                    <img class="item-photo" src='{{picture}}'>
                                    <!--update item-->
                                    <div class="row">
                                        <button class="removeItem" id = ' '><a href="/updateIt">Update Item</a></button>
                                    </div>
                                    <!--remove item-->
                                    <div class="row">
                                        <button class="removeItem" id = '{{id}}'><a href="/disableBorrowing?id={{id}}">Remove Item</a></button>
                                    </div>
                                </div>
                            {{/if}}
                        </div>
                        <!--borrowed information-->
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">

                                {{#if borrowedItemsId}} <!-- only display if the item has been borrowed before-->
                                    <hr>
                                    <!--status-->
                                    <p class="item-descr">Status:
                                        <span class="reset-color">{{ borrowedStatusText}}</span>
                                    </p>
                                
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                       <!-- These class names are used in the javascript, please do not change them-->
                                            <a class="borrowCompl centered" id = '' href="#">Mark Returned</a>
                                        </div>
                                    </div>
                                    <hr>

                                    <!--borrower-->
                                    <p class=" item-descr borrow-decl">
                                        <span>Borrower:</span>
                                        <span class="reset-color">{{ borrowerFirstName}}</span>
                                    </p>
                                    <!--borrowed on date-->
                                    <p class=" item-descr borrow-decl">
                                        <span>Borrowed On:</span>
                                        <span class="reset-color">{{dateFormat borrowDate "dddd, MMMM Do YYYY"}}</span>
                                    </p>
                                    <!--due date-->
                                    <p class=" item-descr borrow-decl">
                                        <span>Due By:</span>
                                        <span class="reset-color">{{dateFormat dueDate "dddd, MMMM Do YYYY"}}</span>
                                    </p>

                                <div class="row">
                                   <!-- These class names are used in the javascript, please do not change them-->
                                        <!--recall item-->
                                        <button class="recallItem" id = ''><a href="#">Recall Item</a></button>
                                        <!--mark item returned-->
                                        <button class="markReturned" id = ''><a href="#">Mark Item Returned</a></button>
                                </div>
                               {{/if}}
                            </div>
                        </div>
                    </div><!--end main item div-->
                {{/ifEqual}}
            {{/each}}
        </div>
    </div>
</div><!--end items on loan div-->

<!--item returned div-->
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 main-item-cont" id="returned-div">
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-3 col-xs-3">
                <button class="close"><a id="returned-close" href="">X</a></button>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-6 col-xs-6">
                <h4 class="centered">Your Returned Items</h4>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-3 col-xs-3"></div>
        </div>
        <div class="row">
            <!--for each user with items-->
            {{#each userAndInfo.items}}
                <!--if item has been returned-->
                {{#ifEqual borrowedStatus 3}}
                    <!--main item div-->
                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 container item-cont">
                        <!--item name-->
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 ">
                                <p class="item-name">{{name}}</p>
                                <hr>
                                <!--subrow-->
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                        <!--item description-->
                                        <p class="item-descr centered">About This Item:
                                           <br>
                                           <span class="reset-color">{{description}}</span>
                                        </p>
                                        <!--item replacement value-->
                                        <p class="item-descr centered">Replacement Value:
                                           <br>
                                           <span class="reset-color">${{value}} USD</span>
                                        </p>
                                        <!--item category-->
                                        <p class="item-descr centered">Category:
                                           <br>
                                           <span class="reset-color">{{categoryname}}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--spacer-->
                            <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0 "></div>
                            <!--if item has picture, display-->
                            {{#if picture}}
                                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 ">
                                    <img class="item-photo" src='{{picture}}'>
                                    <!--update item-->
                                    <div class="row">
                                        <button class="removeItem" id = ' '><a href="/updateIt">Update Item</a></button>
                                    </div>
                                    <!--remove item-->
                                    <div class="row">
                                        <button class="removeItem" id = '{{id}}'><a href="/disableBorrowing?id={{id}}">Remove Item</a></button>
                                    </div>
                                </div>
                            {{/if}}
                        </div>
                        <!--borrow information-->
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">

                                {{#if borrowedItemsId}} <!-- only display if the item has been borrowed before-->
                                    <hr>
                                    <!--status-->
                                    <p class="item-descr">Status:
                                        <span class="reset-color">{{ borrowedStatusText}}</span>
                                    </p>
                                
                                    <hr>
                                    <!--borrower-->
                                    <p class=" item-descr borrow-decl">
                                        <span>Borrower:</span>
                                        <span class="reset-color">{{ borrowerFirstName}}</span>
                                    </p>
                                    <!--borrowed on date-->
                                    <p class=" item-descr borrow-decl">
                                        <span>Borrowed On:</span>
                                        <span class="reset-color">{{dateFormat borrowDate "dddd, MMMM Do YYYY"}}</span>
                                    </p>
                                    <!--returned date-->
                                    <p class=" item-descr borrow-decl">
                                        <span>Returned On:</span>
                                        <span class="reset-color">{{dateFormat returnDate "dddd, MMMM Do YYYY"}}</span>
                                    </p>
                               {{/if}}
                            </div>
                        </div>
                    </div><!--end main item div-->
                {{/ifEqual}}
            {{/each}}
        </div>
    </div>
</div><!--end returned items div-->

<!--all items div-->
<div class="row">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 main-item-cont " id="all-it-div">
         <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-3 col-xs-3">
                <button class="close"><a id="all-it-close" href="">X</a></button>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-6 col-xs-6">
                <h4 class="centered">All Your Listed Items</h4>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-3 col-xs-3"></div>
        </div>
        <div class="row">
            <!--for each user with items-->
            {{#each userAndInfo.items}}
                <!--main item div-->
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 container item-cont">
                    <!--item name-->
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 ">
                            <p class="item-name">{{name}}</p>
                            <hr>
                            <!--subrow-->
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                    <!--item description-->
                                    <p class="item-descr centered">About This Item:
                                       <br>
                                       <span class="reset-color">{{description}}</span>
                                    </p>
                                    <!--item replacement value-->
                                    <p class="item-descr centered">Replacement Value:
                                       <br>
                                       <span class="reset-color">${{value}} USD</span>
                                    </p>
                                    <!--item category-->
                                    <p class="item-descr centered">Category:
                                       <br>
                                       <span class="reset-color">{{categoryname}}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--spacer-->
                        <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0 "></div>
                        <!--if item has photo, display-->
                        {{#if picture}}
                            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 ">
                                <img class="item-photo" src='{{picture}}'>
                                <!--update item-->
                                <div class="row">
                                    <button class="removeItem" id = '{{id}}'><a href="/updateIt">Update Item</a></button>
                                </div>
                                <!--remove item-->
                                <div class="row">
                                    <button class="removeItem" id = '{{id}}'><a href="/disableBorrowing?id={{id}}">Remove Item</a></button>
                                </div>
                            </div>
                        {{/if}}
                    </div>
                    <!--borrowed information-->
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">

                            {{#if borrowedItemsId}} <!-- only display if the item has been borrowed before-->
                                <hr>
                                <!--status-->
                                <p class="item-descr">Status:
                                    <span class="reset-color">{{ borrowedStatusText}}</span>
                                </p>

                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                   <!-- These class names are used in the javascript, please do not change them-->
                                        <a class="borrowCompl centered" id = '' href="#">Mark Borrowed</a>
                                        <a class="cancelReq centered" id = '' href="#">Cancel Request</a>
                                    </div>
                                </div>
                                <hr>
                               <!-- Pending Approval is -1 -->

                                {{#ifEqual borrowedStatus -1}}
                                <div class="row">
                                   <!-- These class names are used in the javascript, please do not change them-->
                                    <button class="approveBorrowRequest" id = '{{borrowedItemsId}},{{id}}'><a href="#">Approve Request</a></button>
                                    <button class="denyBorrowRequest" id = '{{borrowedItemsId}},{{id}}' ><a href="#">Deny Request</a></button>
                                </div>
                                {{/ifEqual}}
                                <!--borrower-->
                                <p class=" item-descr borrow-decl">
                                    <span>Borrower:</span>
                                    <span class="reset-color">{{ borrowerFirstName}}</span>
                                </p>
                                <!--borrowed on date-->
                                <p class=" item-descr borrow-decl">
                                    <span>Borrowed On:</span>
                                    <span class="reset-color">{{dateFormat borrowDate "dddd, MMMM Do YYYY"}}</span>
                                </p>
                                <!--due date-->
                                <p class=" item-descr borrow-decl">
                                    <span>Due By:</span>
                                    <span class="reset-color">{{dateFormat dueDate "dddd, MMMM Do YYYY"}}</span>
                                </p>
                           {{/if}}
                        </div>
                    </div>
                </div><!--end main item div-->
            {{/each}}
        </div>
    </div>
</div><!--end all items div-->
