<!--

name
email
zip code
change passowrd option
notifications
    request to borrow an item
    past due (lender or borrower)
items member has listed
items currently lent out
items past due
items member requested to borrow
items currently being borrowed
items past due to return
items member has borrowed in the past
-->

<div class="row">
    
    <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
 
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 container" id="myProfile">
        <h3 class="centered">Welcome back {{userAndInfo.user.firstName}}!<br></h3>
        <p><b>Your Email:</b> {{userAndInfo.user.email}}</p>
        <p><b>Your User Rating:</b>  {{userAndInfo.user.rating}}</p>
        <p><b>Your Zipcode:</b> {{userAndInfo.user.zipCode}}</p>
        <p><b>JoinDate:</b> {{userAndInfo.user.joinDate}}</p>

    </div>

    <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
    
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 container" id="myProfile" style="background:white;">
        <h3 class="centered">My Items</h3>
        <a class="div-clickable centered" id="pend-app" href="#">Pending Approval</a>
        <a class="div-clickable centered" id="on-lend" href="#">On Lend</a>
        <a class="div-clickable centered" id="returned" href="#">Returned</a>
        <a class="div-clickable centered" id="all-it" href="#">All Items</a>
    </div>
    
    <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
</div>
<!--pending approval div-->
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container wipe-background" id="pend-app-div">
        <h4 class="centered">Your Items Pending Approval</h4>
        {{#each userAndInfo.items}}
            {{#ifEqual borrowedStatus -1}}
                <div class="row">
                    <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0 "></div>
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 container item-cont">
                        
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 ">
                            <p class="item-name">{{name}}</p>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                    <p class="item-descr centered">About This Item: 
                                       <br> 
                                       <span class="reset-color">{{description}}</span>
                                    </p>
                                    <p class="item-descr centered">Replacement Value: 
                                       <br>
                                       <span class="reset-color">${{value}} USD</span>
                                    </p>
                                    <p class="item-descr centered">Category: 
                                       <br>
                                       <span class="reset-color">{{categoryname}}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        
                        {{#if picture}}
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                <img class="item-photo" src='{{picture}}'>
                            </div>
                        {{/if}}
                    </div>
                    
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                            
                            {{#if borrowedItemsId}} <!-- only display if the item has been borrowed before-->
                                <hr>
                            
                                <p class="item-descr">Status: 
                                    <span class="reset-color">{{ borrowedStatusText}}</span>
                                </p>
                            
                                <hr>
                               <!-- Pending Approval is -1 -->

                               {{#ifEqual borrowedStatus -1}}
                               <!-- These class names are used in the javascript, please do not change them-->
                                  <button class="approveBorrowRequest" id = '{{borrowedItemsId}},{{id}}'>Approve Request</button>
                                  <button class="denyBorrowRequest" id = '{{borrowedItemsId}},{{id}}' >Deny Request</button>
                               {{/ifEqual}}
                            
                                <p class="left item-descr">Borrower: 
                                   <span class="reset-color">{{ borrowerFirstName}}</span>
                                </p>
                                <p class="left item-descr">Borrowed On: 
                                   <span class="reset-color">{{ borrowedDate}}</span>
                                </p>
                                <p class="left item-descr">Due By: 
                                   <span class="reset-color">{{ dueDate}}</span>
                                </p>
                           {{/if}}
                        </div>
                    </div>
                        
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0 "></div>
                </div>
            {{/ifEqual}}
        {{/each}}
                
    </div>
</div>
<!--item on lend div-->
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container wipe-background" id="on-lend-div">
        <h4 class="centered">Your Items Currently on Lend</h4>
        {{#each userAndInfo.items}}
            {{#ifEqual borrowedStatus 1}}
                <div class="row">
                    <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0 "></div>
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 container item-cont">
                        
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 ">
                            <p class="item-name">{{name}}</p>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                    <p class="item-descr centered">About This Item: 
                                       <br> 
                                       <span class="reset-color">{{description}}</span>
                                    </p>
                                    <p class="item-descr centered">Replacement Value: 
                                       <br>
                                       <span class="reset-color">${{value}} USD</span>
                                    </p>
                                    <p class="item-descr centered">Category: 
                                       <br>
                                       <span class="reset-color">{{categoryname}}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        
                        {{#if picture}}
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                <img class="item-photo" src='{{picture}}'>
                            </div>
                        {{/if}}
                    </div>
                    
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                            
                            {{#if borrowedItemsId}} <!-- only display if the item has been borrowed before-->
                                <hr>
                            
                                <p class="item-descr">Status: 
                                    <span class="reset-color">{{ borrowedStatusText}}</span>
                                </p>
                            
                                <hr>
                               <!-- Pending Approval is -1 -->

                               {{#ifEqual borrowedStatus -1}}
                               <!-- These class names are used in the javascript, please do not change them-->
                                  <button class="approveBorrowRequest" id = '{{borrowedItemsId}},{{id}}'>Approve Request</button>
                                  <button class="denyBorrowRequest" id = '{{borrowedItemsId}},{{id}}' >Deny Request</button>
                               {{/ifEqual}}
                            
                                <p class="left item-descr">Borrower: 
                                   <span class="reset-color">{{ borrowerFirstName}}</span>
                                </p>
                                <p class="left item-descr">Borrowed On: 
                                   <span class="reset-color">{{ borrowedDate}}</span>
                                </p>
                                <p class="left item-descr">Due By: 
                                   <span class="reset-color">{{ dueDate}}</span>
                                </p>
                           {{/if}}
                        </div>
                    </div>
                        
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0 "></div>
                </div>
            {{/ifEqual}}
        {{/each}}
    </div>
</div>
<!--item returned div-->
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container wipe-background" id="returned-div">
        <h4 class="centered">Your Returned Items</h4>
        {{#each userAndInfo.items}}
            {{#ifEqual borrowedStatus 3}}
                <div class="row">
                    <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0 "></div>
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 container item-cont">
                            
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 ">
                                <p class="item-name">{{name}}</p>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                        <p class="item-descr centered">About This Item: 
                                           <br> 
                                           <span class="reset-color">{{description}}</span>
                                        </p>
                                        <p class="item-descr centered">Replacement Value: 
                                           <br>
                                           <span class="reset-color">${{value}} USD</span>
                                        </p>
                                        <p class="item-descr centered">Category: 
                                           <br>
                                           <span class="reset-color">{{categoryname}}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            {{#if picture}}
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                    <img class="item-photo" src='{{picture}}'>
                                </div>
                            {{/if}}
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">

                                {{#if borrowedItemsId}} <!-- only display if the item has been borrowed before-->
                                    <hr>

                                    <p class="item-descr">Status: 
                                        <span class="reset-color">{{ borrowedStatusText}}</span>
                                    </p>

                                    <hr>

                                    <p class="left item-descr">Borrower: 
                                       <span class="reset-color">{{ borrowerFirstName}}</span>
                                    </p>
                                    <p class="left item-descr">Borrowed On: 
                                       <span class="reset-color">{{ borrowedDate}}</span>
                                    </p>
                                    <p class="left item-descr">Returned On: 
                                       <span class="reset-color">{{ returnDate}}</span>
                                    </p>
                               {{/if}}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0 "></div>
                </div>
                   
            {{/ifEqual}}
        {{/each}}
    </div>
</div>
<!--all items div-->
<div class="row">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container wipe-background" id="all-it-div">
         <h4 class="centered">All Your Listed Items</h4>
          {{#each userAndInfo.items}}
            <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0 "></div>
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 container item-cont">
                    
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 ">
                            <p class="item-name">{{name}}</p>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                    <p class="item-descr centered">About This Item: 
                                       <br> 
                                       <span class="reset-color">{{description}}</span>
                                    </p>
                                    <p class="item-descr centered">Replacement Value: 
                                       <br>
                                       <span class="reset-color">${{value}} USD</span>
                                    </p>
                                    <p class="item-descr centered">Category: 
                                       <br>
                                       <span class="reset-color">{{categoryname}}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        
                        {{#if picture}}
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                <img class="item-photo" src='{{picture}}'>
                            </div>
                        {{/if}}
                    </div>
                    
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                            
                            {{#if borrowedItemsId}} <!-- only display if the item has been borrowed before-->
                                <hr>
                            
                                <p class="item-descr">Status: 
                                    <span class="reset-color">{{ borrowedStatusText}}</span>
                                </p>
                            
                                <hr>
                               <!-- Pending Approval is -1 -->

                               {{#ifEqual borrowedStatus -1}}
                               <!-- These class names are used in the javascript, please do not change them-->
                                  <button class="approveBorrowRequest" id = '{{borrowedItemsId}},{{id}}'>Approve Request</button>
                                  <button class="denyBorrowRequest" id = '{{borrowedItemsId}},{{id}}' >Deny Request</button>
                               {{/ifEqual}}
                            
                                <p class="left item-descr">Borrower: 
                                   <span class="reset-color">{{ borrowerFirstName}}</span>
                                </p>
                                <p class="left item-descr">Borrowed On: 
                                   <span class="reset-color">{{ borrowedDate}}</span>
                                </p>
                                <p class="left item-descr">Due By: 
                                   <span class="reset-color">{{ dueDate}}</span>
                                </p>
                           {{/if}}
                        </div>
                    </div>
                    
                </div>
                <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0 "></div>
            </div>
        {{/each}}
    </div>
</div>
