<div class = "row">
    <!--spacer-->
    <div class="col-lg-2 col-md-2 col-sm-0 col-xs-0 "></div>
    <!--main search form container-->
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 container">
        <p class="error-mess">{{message}}</p> <!-- error message if login fails -->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 group">
                <h3 class="centered">What do you need?</h3>
                <hr>
            </div>
        </div>
        <!--search keyword-->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 group">
                <input id="keyword" name="keyword" placeholder="keyword" type="text" class="input" required>
            </div>
        </div>
        <!--category-->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <select id="category">
                    <option disabled selected value> -- select a category -- </option>
                      {{#each categories}}
                            {{#ifEqual this.parentId 0}}
                              <optgroup label="{{this.categoryName}}">
                            {{/ifEqual}}
                            {{#ifNotEqual this.parentId 0}}
                              <option value="{{this.id}}">{{this.categoryName}}</option>
                            {{/ifNotEqual}}
                      {{/each}}
                </select>
            </div>
        </div>
        <!--zip code-->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 group">
                <input id="zipcode" name="zipcodeSearch" placeholder="Zip Code" type="text" class="input" required>
            </div>
        </div>
        <!--search button-->
        <div class="row">
                <button type="button" id="searchSubmitBtn"><a href="#">Search</a></button>
        </div>


    </div><!--end main search form div-->

    <!--spacer-->
    <div class="col-lg-2 col-md-2 col-sm-0 col-xs-0 "></div>
</div>

{{results}}
    <!--search response div-->
<div class="row" id="">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container wipe-background" id="search-resp-div">

    </div>
</div>
